:root {
    --header-text-color: #1d174e;
    --content-background-color: #c5d0e4;
    --background-color: #5d7fc4;
    --text-color-main: #294061;
    --paragraph-background-color: #819ac9;
}

body {
    background: radial-gradient(circle, #bccbda, var(--background-color));
}

table {
    border: solid #2f3b52 2px; 
    border-spacing: 15px; 
    text-align: center;
}

#personalImage {
    border: solid #5a6b8c 3px;
    border-radius: 5%;
    width: 150px;
    height: 225px;
}

.navBar {
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, #7746eb, var(--background-color));
    margin-bottom: .5rem;
    padding: .5rem;
    position: sticky;
    top: 0;
}

.navContent {
    display: inline-block;
    font-family: monospace, Geneva, Tahoma, sans-serif;
    margin: 0 1rem;
    font-size: large;
    font-weight: bold;
    color: var(--header-text-color);
}

.navContent:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.navContent a {
    text-decoration: none;
    color: var(--header-text-color);
}

.navContent a:visited {
    color: var(--header-text-color);
}

.header, caption {
    font-family: monospace, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #1d174e;
    background-color: #f0f4f8;
    background: radial-gradient(circle, #7746eb, var(--background-color));
    margin-bottom: .5rem;
    text-align: center;
}

.paragraphs {
    background-color: var(--paragraph-background-color);
    border: 3px solid #5d7fc4;
    color: var(--text-color-main);
    padding: 2rem;
    border-radius: 4px;
    font-size: larger;
    text-align: center;
    text-shadow: .3rem .3rem .8rem #e0e7ef;
}

#mainFlex {
    display: flex;
    column-gap: 1rem;
}

#summaryHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

#summaryFlex {
    display: flex;
    border: solid #5a6b8c 3px;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 2rem;
    background-color: var(--content-background-color);
    gap: 1rem;
}

#summaryText {
    max-width: 35rem;
    min-width: 20rem;
}

#summaryImage {
    align-self: center;
}

.skillsList {
    display: flex;
    gap: 1rem;
}

.list {
    border: solid #5a6b8c 3px;
    border-radius: 1rem;
    padding: 1rem;
    color: var(--text-color-main);
    background-color: var(--paragraph-background-color);
}

.list h3 {
    text-align: center;
    font-family: monospace;
}

.listItems {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: square;
    font-family: monospace;
    font-size: large;
}

#mainContentFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid #5a6b8c 3px;
    border-radius: 2rem;
    background-color: var(--content-background-color);
    padding: 1rem;
}
