:root {
    --header-text-color: #1d174e;
    --content-background-color: #c5d0e4;
    --background-color: #4e699e;
    --text-color-main: #294061;
    --paragraph-background-color: #819ac9;
    --border-color: #7f95c2;
    --table-first-color: #819ac9;
    --table-second-color: #354f82;
}

body {
    background: radial-gradient(circle, #bccbda, var(--background-color));
}

/* Top Part */

table {
    border: solid #2f3b52 2px; 
    border-spacing: 15px; 
    margin: auto;
    text-align: center;
    height: 15rem;
}

.navBar {
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, #7746eb, var(--background-color));
    margin-bottom: .5rem;
    padding: .5rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navContent {
    display: inline-block;
    font-family: monospace, Geneva, Tahoma, sans-serif;
    margin: 0 1rem;
    font-size: large;
    font-weight: bold;
    color: var(--header-text-color);
}

.navContent:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.navContent a {
    text-decoration: none;
    color: var(--header-text-color);
}

.navContent a:visited {
    color: var(--header-text-color);
}

.header, caption {
    font-family: monospace, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #1d174e;
    background-color: #f0f4f8;
    background: radial-gradient(circle, #7746eb, var(--background-color));
    margin-bottom: .5rem;
    text-align: center;
}

.paragraphs {
    background-color: var(--paragraph-background-color);
    border: 3px solid #5d7fc4;
    color: var(--text-color-main);
    padding: 2rem;
    border-radius: 4px;
    font-size: larger;
    text-align: center;
    text-shadow: .3rem .3rem .8rem #e0e7ef;
}

/* End of Top Part */
/* Left Part */

#mainFlex {
    display: flex;
    column-gap: 1rem;
}

#personalImage {
    border: solid var(--border-color) 3px;
    border-radius: 5%;
    width: 150px;
    height: 225px;
}

#summaryHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

#summaryFlex {
    display: flex;
    border: solid var(--border-color) 3px;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 2rem;
    background-color: var(--content-background-color);
    gap: 1rem;
}

#summaryText {
    flex: 1 0 300px;
    text-align: justify;
}

.image {
    align-self: center;
}

#skillsList {
    display: flex;
    gap: 1rem;
}

.list {
    border: solid var(--border-color) 3px;
    border-radius: 1rem;
    justify-content: center;
    padding: 1rem;
    color: var(--text-color-main);
    background-color: var(--paragraph-background-color);
}

.list h3 {
    text-align: center;
    font-family: monospace;
}

.listItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    list-style-type: square;
    font-family: monospace;
    font-size: larger;
}

/* Left Part */
/* Right Part */

#mainContentFlex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid var(--border-color) 3px;
    border-radius: 2rem;
    padding: 1rem;
    background-color: var(--content-background-color);
}

#workEducationFlex {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    gap: .5rem;
}

.table {
    border: solid var(--border-color) 3px;
    border-radius: 1rem;
    padding: 1rem;
    border-collapse: collapse;
    color: var(--text-color-main);
    font-size: larger;
}

tr:nth-child(even) {
    background-color: var(--table-second-color);
    opacity: .7;
    color: white;
}

#interestsListFlex {
    display: flex;
    gap: 1rem;
}

#interests {
    border: solid var(--border-color) 3px;
    border-radius: 1rem;
    justify-content: center;
    padding: 1rem;
    color: var(--text-color-main);
    background-color: var(--paragraph-background-color);
}

.hobbiesFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
}

.hobbyList {
    display: flex;
    border: solid var(--border-color) 3px;
    border-radius: 1rem;
    color: var(--text-color-main);
    background-color: var(--paragraph-background-color);
    justify-content: space-evenly;
    flex: 1 0 auto;
}

#hobbyImage {
    width: auto;
    height: auto;
    max-height: 20rem;
    margin: 5rem;
    border: solid var(--table-second-color) 3px;
    border-radius: 1rem;
}

/* End of Right Part */